<h1>{{heroe.id ? 'Editar': 'Nuevo'}} Héroe <small>{{heroe.superhero}}</small></h1>

<div class="grid g-colum-50 gap">
  <div class="grid ">
    <div class="grid grid-in gap">
      <mat-form-field class="w-100">
        <mat-label>Super Héroe</mat-label>
        <input 
          matInput
          required
          type="text"
          [(ngModel)]="heroe.superhero"
        >
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Alter Ego</mat-label>
        <input 
          matInput
          required
          type="text"
          [(ngModel)]="heroe.alter_ego"
        >
      </mat-form-field>
    </div>
    <mat-form-field class="w-100">
      <mat-label>Caracteristicas</mat-label>
      <input 
        matInput
        required
        type="text"
        [(ngModel)]="heroe.characters"
      >
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Primera Aparición</mat-label>
      <input 
        matInput
        required
        type="text"
        [(ngModel)]="heroe.first_appearance"
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Creador</mat-label>
      <mat-select [(ngModel)]="heroe.publisher" required>
        <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
          {{publisher.desc}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Foto Url</mat-label>
      <input 
        matInput
        required
        type="url"
        [(ngModel)]="heroe.alt_img "
      >
    </mat-form-field>

    <br>

    <div class="flex">
      <button 
        mat-raised-button  color="accent"
        (click)="guardar()"
      >
        <mat-icon>edit</mat-icon>
        {{heroe.id ? 'Actualizar': 'Crear'}} 
      </button>

      <span class="spacer"></span>

      <button *ngIf="heroe.id"
        mat-raised-button
        color="warn"
        (click)="borrar()"
      >
        <mat-icon>remove</mat-icon>
        Borrar
      </button>
    </div>
  </div>
  <div class="grid j-i">
    <img [src]="heroe | imagen">
  </div>
</div>