
<mat-grid-list cols="1" rowHeight="50vh">
  <mat-grid-tile>
    <button 
      mat-raised-button color="primary"
      (click)="login()"
    >
      Ingresar
    </button>
    
    <button 
      mat-raised-button color="warn"
      (click)="loggout()"
    >
      Ingresar Sin Loggin
    </button>
    <button 
      mat-stroked-button color="primary"
      (click)="clear()"
    >
      Eliminar Cache
    </button>
  </mat-grid-tile>
</mat-grid-list>
