<div class="dialog">
  <h1>¿Esta Seguro?</h1>
  <hr>
  <p>
    Está a punto de Borrar a {{data.superhero}}
    <br>
    ¿Desea Continuar?
  </p>

  <div class="flex">
    <button mat-button (click)="borrar()" color="warn">Si, Borrar</button>
    <span class="spacer"></span>
    <button mat-button (click)="cerrar()" >No, Cancelar</button>
  </div>
</div>