<h1>Listado de Super Héroes</h1>
<mat-divider></mat-divider>

<div *ngIf="!heroes; else king">
  
  <mat-progress-spinner
        class="spinner"
        color="accent"
        mode="indeterminate">
  </mat-progress-spinner>
</div>
<ng-template #king>
  <app-heroe-card [heroes]="heroes" [type]="true"></app-heroe-card>
</ng-template>