<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="primary">
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      
    </mat-toolbar>
    <mat-nav-list>
      
      <a mat-list-item routerLink="./listado"
        (click)="sidenav.toggle()"
      >
        <mat-icon mat-list-icon mat class="icon">label</mat-icon>
        <span>Listado de heroes</span>
      </a>
      <a mat-list-item routerLink="./agregar"
        (click)="sidenav.toggle()"
        >
        <mat-icon mat-list-icon class="icon">add</mat-icon>
        <span>Agregar Héroe</span>
      </a>
      <a mat-list-item routerLink="./buscar"
        (click)="sidenav.toggle()"
        >
        <mat-icon mat-list-icon class="icon">search</mat-icon>
        <span>Búscar Héroe</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="spacer"></span>
    <div class="space">
      <span>{{ auth.usuario }}</span>
    </div>
    <button 
      mat-stroked-button 
      color="accent"
      (click)="loggout()"
      >
      Loggout
    </button>
  </mat-toolbar>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  

</mat-sidenav-container>


