<div class="grid" *ngIf="type; else search">
  <mat-card *ngFor="let heroe of heroes">
    <mat-card-header>
      <mat-card-title>{{heroe.superhero}}</mat-card-title>
      <mat-card-subtitle>{{heroe.alter_ego}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-img [src]="heroe | imagen" [alt]="heroe.id">
    <mat-card-content>
      <h3>{{heroe.publisher}}</h3>
      <p>
        <strong>Primera Aparición</strong> {{heroe.first_appearance}}
        <br>
        <strong>Personajes: </strong>{{heroe.characters}}
      </p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button 
        mat-button  color="warn"
        [routerLink]="['/heroes', heroe.id]"
      >
        Leer más
      </button>
      <button 
        mat-button  color="basic"
        [routerLink]="['/heroes/editar', heroe.id]"
      >
        Editar
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #search>
  <mat-card *ngFor="let heroe of heroes" class="gridC">
    <mat-card-header class="header">
      <mat-card-title-group>
        <mat-card-title>{{heroe.superhero}}</mat-card-title>
        <mat-card-subtitle>{{heroe.alter_ego}}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <img mat-card-xl-image [src]="heroe | imagen" [alt]="heroe.id" class="img">
    <mat-card-content class="content">
      <h3>{{heroe.publisher}}</h3>
      <p>
        <strong>Primera Aparición</strong> {{heroe.first_appearance}}
        <br>
        <strong>Apariencia:</strong> {{ heroe.characters }}
        <br>
        <strong>Editorial:</strong> {{ heroe.publisher }}
      </p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button 
        mat-button  color="warn"
        [routerLink]="['/heroes', heroe.id]"
      >
        Leer más
      </button>
      <button
        mat-button  color="basic"
        [routerLink]="['/heroes/editar', heroe.id]"
      >
        Editar
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>
