<div class="grid">
  <div class="item-a">
    <h1>Buscador de Heroes</h1>
    <mat-divider></mat-divider>
  </div>
  
  <div class="item-b">
    <br>
    <mat-form-field class="w-100">
      <mat-label>Search Hero</mat-label>
      <input type="text"
             placeholder="Selecciona Alguno"
             aria-label="Buscar Héroe"
             matInput
             [(ngModel)]="termino"
             [matAutocomplete]="auto"
             (input)="buscando()">
      <mat-autocomplete 
        autoActiveFirstOption 
        #auto="matAutocomplete"
        (optionSelected)="opcionSeleccionada( $event )">
        <mat-option *ngFor="let heroe of heroes" [value]="heroe">
          {{heroe.superhero}}
        </mat-option>
        <mat-option *ngIf="heroes.length === 0 && termino.trim().length > 0" value="">
          Losiento no se encontro nada con el termino {{termino}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="item-c" *ngIf="heroeSeleccionado">
    <app-heroe-card [heroes]="[heroeSeleccionado]" [type]="false"></app-heroe-card>
  </div>
  
</div>