<mat-grid-list cols="1" *ngIf="!heroe; else donthave">
  <mat-grid-tile>
    <mat-progress-spinner
        class="spinner"
        color="accent"
        mode="indeterminate">
    </mat-progress-spinner>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #donthave>
  <div class="grid">
    <div class="w-50">
      <img [src]="heroe | imagen" [alt]="heroe.id">
    </div>
    <div class="w-50">
      <h1> {{ heroe.superhero }} <small>- {{ heroe.alter_ego }}</small></h1>
      <h2><small></small>{{heroe.publisher}}</h2>
      <mat-divider></mat-divider>

      <mat-list>
        <mat-list-item><strong>Primera Aparición:</strong> {{ heroe.first_appearance }} </mat-list-item>
        <mat-list-item><strong>Apariencia:</strong> {{ heroe.characters }} </mat-list-item>
        <mat-list-item><strong>Editorial:</strong> {{ heroe.publisher }} </mat-list-item>
        <mat-list-item><strong>Alter Ego:</strong> {{ heroe.alter_ego }} </mat-list-item>
      </mat-list>
      
      <br>

      <button 
        mat-button color="warn"
        (click)="btnregresar()"
      >
        Regresar
      </button>

    </div>
  </div>
</ng-template>
